<!-- Content Mobile -->
<div class="w3-col s12 w3-padding _w3-margin-top">
    <div _id="" class="w3-row-padding w3-center">

        <!--@ GAIN / NET -->
        <div class="w3-half">
            <div class="w3-panel w3-border _w3-light-grey w3-padding" style="height:170px;">
                <div class="w3-col s12 {3} w3-center">
                    <div class="w3-xxlarge w3-wide" style="padding-top:25px;">
                        <div class="w3-text-grey w3-xlarge _w3-margin-top"><b>GAIN</b></div>
                        <div class="w3-text-grey" style="font-size:48px;"><b id="mobile-gain">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--@ TODAY -->
        <div class="w3-half">
            <div class="w3-panel w3-border _w3-light-grey w3-padding" style="height:170px;">
                <div class="w3-col s12 {3} w3-center">
                    <div class="w3-xxlarge w3-wide" style="padding-top:25px;">
                        <div class="w3-text-grey w3-xlarge _w3-margin-top"><b>TODAY</b></div>
                        <div class="w3-text-grey" style="font-size:48px;"><b id="mobile-today">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--@ TARGET -->
        <!-- <div class="w3-hide-small w3-third">
            <div class="w3-panel w3-border _w3-light-grey w3-padding" style="height:170px;">
                <div class="w3-col s12 {3} w3-center">
                    <div class="w3-xxlarge w3-wide" style="padding-top:25px;">
                        <div class="w3-text-grey w3-xlarge _w3-margin-top"><b>+/- TARGET</b></div>
                        <div class="w3-text-grey" style="font-size:48px;"><b id="day-status-target-delta"
                                style="color:#5392c5;"></b>&nbsp;<b id="day-status-target" class="w3-hide"
                                style="font-size:24px;"></b>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>

<div class="w3-padding" style="">
    <div _id="" class="w3-col s8 w3-row-padding w3-center">
        <div id="mobile-qqq" class="" style="height:200px;border:1px solid lightgray;"></div>
    </div>
    <div _id="" class="w3-col s12 w3-row-padding w3-center">&nbsp;</div>
</div>