<!-- <div class="w3-container w3-panel w3-xlarge w3-margin">
    <div class="w3-col s12 w3-padding">
        <div class="w3-row-padding w3-xxlarge">
            <div class="w3-text-green"><b>Settings</b></div>
        </div>
    </div>
</div> -->

<!--@ SYMBOL SEARCH -->
<div id="settings-form">
    <div class="w3-container w3-wide w3-xlarge" style="_display:inline-block;">
        <div class="w3-col s12 w3-margin w3-padding">
            <label class="w3-text-grey">KEY</label>
            <input id="settings-key" class="w3-input" style="width:97.5%;" type="text" placeholder="Enter Key"
                name="key">

            <br />

            <label class="w3-text-grey">SECRET</label>
            <input id="settings-secret" class="w3-input" style="width:97.5%;" type="text" placeholder="Enter secret"
                name="secret">

            <br />

            <label class="w3-text-grey">TOKEN</label>
            <input id="settings-token" class="w3-input" style="width:97.5%;" type="text"
                placeholder="Enter provided token" name="token">


            <br />

            <div class="w3-col s6">
                <label class="w3-text-grey">ANALYSIS START DATE</label>
                <input id="settings-start-date" class="w3-input" style="width:97.5%;" type="text" value="2026-01-01"
                    placeholder="YYYY-MM-DD" name="token">
            </div>

            <!-- <br /> -->

            <div class="w3-col s6 w3-margin-bottom">
                <label class="w3-text-grey">TREND START DATE</label>
                <input id="settings-start-date" class="w3-input" style="width:97.5%;" type="text" value="2026-04-28"
                    placeholder="YYYY-MM-DD" name="token">
            </div>

            <!-- &nbsp; -->
            <!-- <br /> -->

            <label class="w3-hide w3-text-grey">BUY AMOUNT | DEFAULT</label>
            <!-- <br /> -->
            <div class="w3-hide w3-col s12 w3-margin-top w3-xlarge w3-margin-left">
                <input class="w3-radio" type="radio" name="settings-amount" value="100">
                <label class="w3-margin-right">$&nbsp;100</label>
                <input class="w3-radio" type="radio" name="settings-amount" value="250">
                <label class="w3-margin-right">$&nbsp;250</label>
                <input class="w3-radio" type="radio" name="settings-amount" value="500">
                <label class="w3-margin-right">$&nbsp;500</label>
                <input class="w3-radio" type="radio" name="settings-amount" value="1000" checked>
                <label class="w3-margin-right">$&nbsp;1&nbsp;K</label>
                <input class="w3-radio" type="radio" name="settings-amount" value="2000">
                <label class="w3-margin-right">$&nbsp;2&nbsp;K</label>
                <input class="w3-radio" type="radio" name="settings-amount" value="2500">
                <label class="w3-margin-right">$&nbsp;2.5&nbsp;K</label>
                <input class="w3-radio" type="radio" name="settings-amount" value="3000">
                <label class="w3-margin-right">$&nbsp;3&nbsp;K</label>
            </div>

            <span class="">
                <br />
                &nbsp;
                <br />

                <label class="w3-text-grey">DATA SOURCE</label>
                <br />
                <div class="w3-col s12 w3-margin-top w3-xlarge w3-margin-left">
                    <input id="radio-100" class="w3-radio" type="radio" name="settings-source" value="m3" checked>
                    <label class="w3-margin-right">M<sup>3</sup>&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input class="w3-radio" type="radio" name="settings-source" value="alpaca">
                    <label class="w3-margin-right">Alpaca</label>
                </div>

                <br />
                <br />
                <br />

                <label class="w3-text-grey">WATCH LIST - <span class="w3-text-grey">GREY</span></label>
                <textarea id="settings-watch-list-grey" class="w3-input w3-wide" style="width:97.5%;" type="text"
                    name="WATCH_LIST">ADI,ATOM,AVT,BLDP,CORZ,DSGN,ECX,HIMX,HUT,MBX,MCHP,MXL,NVMI,ORKA,PENG,POET,POWL,ROIV,UCTT,VECO,VICR,VRT</textarea>

                <br />

                <label class="w3-text-grey">WATCH LIST - <span class="w3-text-orange">ORANGE</span></label>
                <textarea id="settings-watch-list-orange" class="w3-input w3-wide" style="width:97.5%;" type="text"
                    name="WATCH_LIST">ADI,ATOM,AVT,BLDP</textarea>

                <br />

                <label class="w3-text-grey">WATCH LIST - <span class="w3-text-purple">PURPLE</span></label>
                <textarea id="settings-watch-list-purple" class="w3-input w3-wide" style="width:97.5%;" type="text"
                    name="WATCH_LIST">MCHP,MXL,NVMI,ORKA,PENG</textarea>

                <br />

                <label class="w3-text-grey">WATCH LIST - <span class="w3-text-blue">BLUE</span></label>
                <textarea id="settings-watch-list-blue" class="w3-input w3-wide" style="width:97.5%;" type="text"
                    name="WATCH_LIST">ADI,ATOM,AVT,BLDP</textarea>


                <br />

            </span>

                <div class="w3-col s12 margin-top">
                    <button id="button-submit" class="w3-button w3-xlarge w3-light-grey w3-border w3-right w3-margin"
                        style="letter-spacing:4px;" onclick="apply_settings()">Apply</button>
                </div>


        </div>
    </div>
</div>
<!-- &nbsp; -->