<div class="w3-col s12 w3-padding">
    <div _id="output" class="w3-row-padding w3-center">

        <div class="w3-quarter">
            <div class="w3-card-2 w3-panel {5} w3-border _w3-light-grey w3-padding" style="height:90px;">
                <div class="w3-col s12">
                    <div class="w3-xxlarge w3-padding" style="padding-top:25px;letter-spacing:4px;">
                        <!-- <span class="w3-right w3-xxlarge" style="color:#5392c5;"><b>76.1 %</b></span> -->
                        <span class="w3-center w3-text-grey w3-xxlarge"><b>Compare</b></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="w3-quarter">
            <div class="w3-panel {5} w3-border _w3-light-grey w3-padding" style="height:90px;">
                <div class="w3-col s12">
                    <div class="w3-xxlarge w3-padding" style="padding-top:25px;letter-spacing:4px;">
                        <span class="w3-right w3-xxlarge" style="color:#5392c5;"><b>76.1 %</b></span>
                        <span class="w3-left w3-text-grey w3-xxlarge"><b>YIELD</b></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="w3-quarter">
            <div class="w3-panel {5} w3-border _w3-light-grey w3-padding" style="height:90px;">
                <div class="w3-col s12">
                    <div class="w3-xxlarge w3-padding" style="padding-top:25px;letter-spacing:4px;">
                        <span class="w3-right w3-xxlarge" style="color:#5392c5;"><b>65.4 %</b></span>
                        <span class="w3-left w3-text-grey w3-xxlarge"><b>OEE</b></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="w3-quarter">
            <div class="w3-panel {5} w3-border _w3-light-grey w3-padding" style="height:90px;">
                <div class="w3-col s12 {3}">
                    <div class="w3-xxlarge w3-padding" style="padding-top:25px;letter-spacing:4px;">
                        <span class="w3-right w3-xxlarge" style="color:#5392c5;"><b>39.4 %</b></span>
                        <span class="w3-left w3-text-grey w3-xxlarge"><b>TEEP</b></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="w3-quarter">
            <div class="w3-panel {5} w3-border _w3-light-grey w3-padding" style="height:90px;">
                <div class="w3-col s12 {3}">
                    <div class="w3-xxlarge w3-padding" style="padding-top:25px;letter-spacing:4px;">
                        <span class="w3-right w3-xxlarge" style="color:#5392c5;"><b>11.5 %</b></span>
                        <span class="w3-left w3-text-grey w3-xxlarge"><b>CoQ</b></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="w3-quarter">
            <div class="w3-panel {5} w3-border _w3-light-grey w3-padding" style="height:90px;">
                <div class="w3-col s12 {3}">
                    <div class="w3-xxlarge w3-padding" style="padding-top:25px;letter-spacing:4px;">
                        <span class="w3-right w3-xxlarge" style="color:#5392c5;"><b>13.5 %</b></span>
                        <span class="w3-left w3-text-grey w3-xxlarge"><b>24 / 7</b></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="w3-quarter">
            <div class="w3-panel {5} w3-border _w3-light-grey w3-padding" style="height:90px;">
                <div class="w3-col s12 {3}">
                    <div class="w3-xxlarge w3-padding" style="padding-top:25px;letter-spacing:4px;">
                        <span class="w3-right w3-xxlarge" style="color:#5392c5;"><b>57.6 %</b></span>
                        <span class="w3-left w3-text-grey w3-xxlarge"><b>Weighted</b></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="w3-quarter">
            <div class="w3-panel {5} w3-border _w3-light-grey w3-padding" style="height:90px;">
                <div class="w3-col s12 {3}">
                    <div class="w3-xxlarge w3-padding" style="padding-top:25px;letter-spacing:4px;">
                        <!-- <span class="w3-right w3-xxlarge" style="color:#5392c5;"><b>35.6 %</b></span> -->
                        <span class="w3-center w3-text-grey w3-xxlarge"><b>Custom</b></span>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="w3-quarter">
            <div class="w3-panel {5} w3-border _w3-light-grey w3-padding" style="height:125px;">
                <div class="w3-col s12 {3}">
                    <div class="w3-xxlarge" style="padding-top:25px;letter-spacing:4px;">
                        <span class="w3-right w3-xxlarge" style="color:#5392c5;"><b>23.7 %</b></span>
                        <span class="w3-left w3-text-grey w3-xxlarge"><b>Custom 2</b></span>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="w3-col s12 w3-padding">
            <div class="w3-panel {5} w3-border _w3-light-grey w3-padding" style="_height:275px;">
                <div id="chart-dashboards"></div>
            </div>
        </div>

    </div>

</div>