<!--@ CHARTS -->
<div class="w3-container">
    <div class="w3-col s12 m8 w3-padding w3-margin-top w3-xlarge">
        <div class=""><b>Today</b></div>
        <div id="CHART_24H_HISTORY"></div>
    </div>
    <div class="w3-col s12 m4 w3-padding w3-margin-top w3-xlarge">
        <div class=""><b>Postitions</b></div>
        <div id="chart-positions-today" style="opacity:87%;"></div>
    </div>
</div>

<!--@ TABLE -->
<div class="w3-container w3-hide-small">
    <div class="w3-col s12 w3-padding w3-margin-top w3-xlarge">
        <table id="day-status-table" class="w3-table _w3-bordered w3-striped" style="line-height: normal;">
            <thead>
                <tr id="day-today-status-table-header" class="w3-light-grey">
                </tr>
            </thead>
            <tbody id="day-today-status-table-rows">
            </tbody>
        </table>
    </div>
</div>