<div class="w3-container w3-panel w3-xlarge w3-margin">
    <div class="w3-col s12 w3-padding">
        <div class="w3-row-padding w3-xxlarge">
            <!--@ PRICING -->
            <div class="w3-container w3-panel w3-xlarge w3-margin">
                <div class="w3-row-padding" style="margin:0 -16px">
                    <div class="w3-third w3-margin-bottom">
                        <ul class="w3-ul w3-border w3-white w3-center _w3-opacity w3-hover-opacity-off">
                            <li class="w3-light-grey w3-xlarge w3-padding-32" style="letter-spacing:4px;">BASIC 25</li>
                            <!-- <li class="w3-padding-16"><b class="w3-text-green w3-xxlarge">25</b><br/>users</li> -->
                            <!-- <li class="w3-padding-16">5 Metrics</li> -->
                            <!-- <li class="w3-padding-16"><b class="w3-text-green w3-xxlarge">A I</b><br/>100 Tokens*</li> -->
                            <li class="w3-padding-16"><b>50 Users</b><br/>$ 15 / month</li>
                            <li class="w3-padding-16"><b>A I &nbsp;Summaries</b><br/>$ 2 / user / month</li>
                            <li class="w3-padding-16"><b>Forecast | Plan</b><br/>$ 2 / user / month</li>
                            <li class="w3-padding-16"><b>Advanced Analytics</b><br/>$ 1 / user / month</li>
                            <li class="w3-padding-16">
                                <h2><b class="w3-text-green w3-xxlarge" style="letter-spacing: 4px;;">$ 10 K</b></h2>
                                <span class="w3-opacity">per year</span>
                            </li>
                            <li class="w3-light-grey w3-padding-24">
                                <button class="w3-button w3-teal w3-padding-large w3-hover-black">Sign Up</button>
                            </li>
                        </ul>
                    </div>

                    <div class="w3-third w3-margin-bottom">
                        <ul class="w3-ul w3-border w3-white w3-center _w3-opacity w3-hover-opacity-off">
                            <li class="w3-green w3-xlarge w3-padding-32" style="letter-spacing:4px;">PLUS 100</li>
                            <li class="w3-padding-16"><b class=" _w3-xxlarge">
                                <div class="w3-text-green" style="font-size: 64px;;"><b>100</b></div>
                                <span class="w3-opacity">users</span>
                            </li>
                            <li class="w3-padding-16"><b>Daily Schedule & Status</b></li>
                            <li class="w3-padding-16"><b>A I &nbsp;Insights</b></li>
                            <li class="w3-padding-16"><b>Forecast & Planning</b></li>
                            <li class="w3-padding-16"><b>Advanced Analytics</b></li>
                            <li class="w3-padding-16">
                                <h2><b class="w3-text-green w3-xxlarge" style="letter-spacing: 4px;;">$ 25 K</b></h2>
                                <span class="w3-opacity">per year</span>
                            </li>
                            <li class="w3-light-grey w3-padding-24">
                                <button class="w3-button w3-green w3-padding-large w3-hover-black">Sign Up</button>
                            </li>
                        </ul>
                    </div>

                    <div class="w3-third w3-margin-bottom">
                        <ul class="w3-ul w3-border w3-white w3-center _w3-opacity w3-hover-opacity-off">
                            <li class="w3-light-grey w3-xlarge w3-padding-32" style="letter-spacing:4px;">BASIC 25</li>
                            <li class="w3-padding-16"><b class="w3-text-green w3-xxlarge">1500</b><br/>records / month</li>
                            <!-- <li class="w3-padding-16">5 Metrics</li> -->
                            <!-- <li class="w3-padding-16"><b class="w3-text-green w3-xxlarge">A I</b><br/>100 Tokens*</li> -->
                            <!-- <li class="w3-padding-16">$ 50 per location / month</li> -->
                            <li class="w3-padding-16">
                                <h2><b class="w3-text-green w3-xxlarge" style="letter-spacing: 4px;;">$ 7.5 K</b></h2>
                                <span class="w3-opacity">per year</span>
                            </li>
                            <li class="w3-light-grey w3-padding-24">
                                <button class="w3-button w3-teal w3-padding-large w3-hover-black">Sign Up</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>