<!-- <div class="w3-col s12 w3-padding">
    <div _id="output" class="w3-row-padding w3-center">

        <div class="w3-third">
            <div class="w3-panel {5} w3-border _w3-light-grey w3-padding" style="height:210px;">
                <div class="w3-col s12 {3} w3-center">
                    <div class="w3-xxlarge" style="padding-top:25px;letter-spacing:4px;">
                        <div class="w3-text-grey w3-xlarge _w3-margin-top"><b>GAIN</b></div>
                        <div class="w3-text-green" style="font-size:48px;"><span class="w3-xxlarge w3-text-grey">$ </span><b
                                id="day-status-gain"></b></div>
                        <div class="w3-text-grey" style="font-size:24px;">&nbsp;&nbsp;<b
                                id="day-status-gain-pct"></b><span class="w3-xlarge"> %</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w3-third">
            <div class="w3-panel {5} w3-border _w3-light-grey w3-padding" style="height:210px;">
                <div class="w3-col s12 {3} w3-center">
                    <div class="w3-xxlarge" style="padding-top:25px;letter-spacing:4px;">
                        <div class="w3-text-grey w3-xlarge _w3-margin-top"><b>TODAY</b></div>
                        <div class="" style="font-size:48px;color:#e98b00;"><span class="w3-xxlarge w3-text-grey">$ </span><b
                                id="day-status-today"></b></div>
                        <div class="w3-text-grey" style="font-size:24px;">&nbsp;&nbsp;<b
                                id="day-status-today-pct"></b><span class="w3-xlarge"> %</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w3-third">
            <div class="w3-panel {5} w3-border _w3-light-grey w3-padding" style="height:210px;">
                <div class="w3-col s12 {3}">
                    <div class="w3-xxlarge" style="padding-top:25px;letter-spacing:4px;">
                        <div class="w3-text-grey w3-xlarge _w3-margin-top"><b>DAY TARGET</b></div>
                        <div class="" style="font-size:48px;color:#0a8d82;"><span class="w3-xxlarge w3-text-grey">$ </span><b
                                id="day-status-target-delta"></b></div>
                        <div class="w3-text-grey" style="font-size:24px;"><span class="w3-xlarge">$ </span>&nbsp;<b
                                id="day-status-target"></b></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w3-hide w3-third">
            <div class="w3-panel {5} w3-border _w3-light-grey w3-padding" style="height:210px;">
                <div class="w3-col s12 {3} w3-center">
                    <div class="w3-xxlarge" style="padding-top:25px;letter-spacing:4px;">
                        <div class="w3-text-grey w3-xlarge _w3-margin-top"><b>ACCOUNT</b></div>
                        <div class="" style="font-size:48px;color:#5392c5;"><span class="w3-xxlarge w3-text-grey">$ </span><b
                                id="day-status-equity"></b></div>
                        <div class="w3-text-grey" style="font-size:24px;"><span class="w3-xlarge">$ </span>&nbsp;<b
                                id="day-status-invested"></b></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div> -->

<!-- <div class="w3-hide w3-col s12 w3-padding">
    <div _id="output" class="w3-row-padding w3-center">

        <div class="w3-third">
            <div class="w3-panel {5} w3-border _w3-light-grey w3-padding" style="height:325px;">
                <div class="w3-col s12 {3} w3-center">
                    <div class="w3-xxlarge" style="padding-top:25px;letter-spacing:4px;">
                        <div class="w3-text-grey w3-xxlarge _w3-margin-top"><b>GAIN</b></div>
                        <hr style="border-top:1px solid gray" />
                        <div class="w3-text-green" style="font-size:78px;"><span class="w3-xxlarge w3-text-grey">$ </span><b
                                id="day-status-gain"></b></div>
                        <div class="w3-text-grey" style="font-size:36px;">&nbsp;&nbsp;<b
                                id="day-status-gain-pct"></b><span class="w3-xlarge"> %</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w3-third">
            <div class="w3-panel {5} w3-border _w3-light-grey w3-padding" style="height:325px;">
                <div class="w3-col s12 {3} w3-center">
                    <div class="w3-xxlarge" style="padding-top:25px;letter-spacing:4px;">
                        <div class="w3-text-grey w3-xxlarge _w3-margin-top"><b>TODAY</b></div>
                        <hr style="border-top:1px solid gray" />
                        <div class="" style="font-size:78px;color:#e98b00;"><span class="w3-xxlarge w3-text-grey">$ </span><b
                                id="day-status-today"></b></div>
                        <div class="w3-text-grey" style="font-size:36px;">&nbsp;&nbsp;<b
                                id="day-status-today-pct"></b><span class="w3-xlarge"> %</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w3-third">
            <div class="w3-panel {5} w3-border _w3-light-grey w3-padding" style="height:325px;">
                <div class="w3-col s12 {3}">
                    <div class="w3-xxlarge" style="padding-top:25px;letter-spacing:4px;">
                        <div class="w3-text-grey w3-xxlarge _w3-margin-top"><b>DAY TARGET</b></div>
                        <hr style="border-top:1px solid gray" />
                        <div class="" style="font-size:78px;color:#0a8d82;"><span class="w3-xxlarge w3-text-grey">$ </span><b
                                id="day-status-target-delta"></b></div>
                        <div class="w3-text-grey" style="font-size:36px;"><span class="w3-xlarge">$ </span>&nbsp;<b
                                id="day-status-target"></b></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w3-hide w3-third">
            <div class="w3-panel {5} w3-border _w3-light-grey w3-padding" style="height:325px;">
                <div class="w3-col s12 {3} w3-center">
                    <div class="w3-xxlarge" style="padding-top:25px;letter-spacing:4px;">
                        <div class="w3-text-grey w3-xxlarge _w3-margin-top"><b>ACCOUNT</b></div>
                        <hr style="border-top:1px solid gray" />
                        <div class="" style="font-size:78px;color:#5392c5;"><span class="w3-xxlarge w3-text-grey">$ </span><b
                                id="day-status-equity"></b></div>
                        <div class="w3-text-grey" style="font-size:36px;"><span class="w3-xlarge">$ </span>&nbsp;<b
                                id="day-status-invested"></b></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div> -->

<!--@ CHARTS -->
<div class="w3-container">
    <div class="w3-hide-small w3-col s12 m12 l7 w3-padding w3-margin-top w3-xlarge">
        <div class=""><b>Day History</b></div>
        <div id="chart-days-history"></div>
        <!-- <div id="chart1" class='w3-col s12 m3 w3-padding' style=""></div> -->
    </div>
    <div class="w3-col s12 m12 l5 w3-padding w3-margin-top w3-xlarge">
        <div class=""><b>Today</b></div>
        <div id="chart-24h-history"></div>
    </div>
    <div class="w3-hide-small w3-col s12 m7 w3-padding w3-margin-top w3-xlarge">
        <!-- <div class=""><b>Positions</b></div> -->
        <div id="chart-positions" style="opacity:87%;"></div>
    </div>
    <div class="w3-col s12 m5 w3-padding w3-margin-top w3-xlarge">
        <!-- <div class=""><b>Today</b></div> -->
        <div id="chart-positions-today" style="opacity:87%;"></div>
    </div>
</div>

<!--@ TABLE -->
<div class="w3-container w3-hide-small">
    <div class="w3-col s12 w3-padding w3-margin-top w3-xlarge">
        <table id="day-status-table" class="w3-table _w3-bordered w3-striped" style="line-height: normal;">
            <thead>
                <tr id="day-status-table-header" class="w3-light-grey">
                </tr>
            </thead>
            <tbody id="day-status-table-rows">
            </tbody>
        </table>
    </div>

    <div class="w3-col s12">
        <button id="button-submit" class="w3-button w3-xlarge w3-light-grey w3-border w3-right w3-margin"
            style="letter-spacing:4px;" onclick="update()">SNAPSHOT</button>
    </div>
</div>