<div class="w3-col s12 w3-padding">
    <div _id="output" class="w3-row-padding">


        <div class="w3-col s12">
            <div class="w3-panel {5} w3-border _w3-light-grey w3-padding" style="_height:275px;">
                <div class="w3-xxlarge w3-margin-left w3-margin-top w3-wide"><b id="trend-chart-title" class="w3-text-blue"></b></div>
                <div id="chart-trend"></div>
            </div>
        </div>
    </div>

    <!-- <div class="w3-col s12 w3-padding w3-margin-top w3-xlarge">
            <table id="table-entries-snowplow" class="w3-table _w3-bordered w3-striped">
                <thead>
                    <tr id="table-header-snowplow">
                    </tr>
                </thead>
                <tbody id="table-rows-snowplow">
                </tbody>
            </table>
            &nbsp;
        </div> -->


</div>