<!-- Content Mobile -->
<div class="w3-col s12 w3-padding _w3-margin-top">
    <div _id="" class="w3-center">

        <!--@ GAIN / NET -->
        <div class="w3-half">
            <div class="w3-panel _w3-light-grey">
                <div class="w3-col s12 {3} w3-center w3-border" style="height:170px;">
                    <div class="w3-xxlarge w3-wide" style="padding-top:25px;">
                        <div class="w3-wide w3-text-grey w3-xlarge _w3-margin-top"><b>GAIN</b></div>
                        <div class="w3-wide w3-text-grey" style="font-size:48px;"><b id="mobile-gain">
                            </b>&nbsp;<b id="mobile-gain-pct" style="font-size:24px;"></b><span
                                class="w3-xlarge w3-text-grey">&nbsp;%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="w3-half">
            <div class="w3-panel w3-border _w3-light-grey w3-padding" style="height:170px;">
                <div class="w3-col s12 {3} w3-center">
                    <div class="w3-xxlarge w3-wide" style="padding-top:25px;">
                        <div class="w3-text-grey w3-xlarge _w3-margin-top"><b>GAIN</b></div>
                        <div class="w3-text-grey" style="font-size:48px;"><b id="mobile-gain">
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <!--@ TODAY -->
        <div class="w3-half">
            <div class="w3-panel _w3-light-grey">
                <div class="w3-col s12 {3} w3-center w3-border" style="height:170px;">
                    <div class="w3-xxlarge w3-wide" style="padding-top:25px;">
                        <div class="w3-wide w3-text-grey w3-xlarge _w3-margin-top"><b>TODAY</b></div>
                        <div class="w3-wide w3-text-grey" style="font-size:48px;"><b id="mobile-today">
                            </b>&nbsp;<b id="mobile-today-pct" style="font-size:24px;"></b><span
                                class="w3-xlarge w3-text-grey">&nbsp;%</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="w3-half">
            <div class="w3-panel w3-border _w3-light-grey w3-padding" style="height:170px;">
                <div class="w3-col s12 {3} w3-center">
                    <div class="w3-xxlarge w3-wide" style="padding-top:25px;">
                        <div class="w3-text-grey w3-xlarge _w3-margin-top"><b>TODAY</b></div>
                        <div class="w3-text-grey" style="font-size:48px;"><b id="mobile-today">
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <!--@ TARGET -->
        <!-- <div class="w3-hide-small w3-third">
            <div class="w3-panel w3-border _w3-light-grey w3-padding" style="height:170px;">
                <div class="w3-col s12 {3} w3-center">
                    <div class="w3-xxlarge w3-wide" style="padding-top:25px;">
                        <div class="w3-text-grey w3-xlarge _w3-margin-top"><b>+/- TARGET</b></div>
                        <div class="w3-text-grey" style="font-size:48px;"><b id="day-status-target-delta"
                                style="color:#5392c5;"></b>&nbsp;<b id="day-status-target" class="w3-hide"
                                style="font-size:24px;"></b>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>


<div class="w3-col s12 w3-padding _w3-margin-top">
    <div _id="" class="w3-center">
        <div class="w3-col s4">
            <div class="w3-panel _w3-light-grey">
                <div class="w3-col s12 {3} w3-center w3-border" style="_height:260px;">
                    <div class="w3-xxlarge w3-wide" style="padding-top:25px;">
                        <div class="w3-text-grey w3-xlarge _w3-margin-top"><b>Futures</b></div>
                        <div id="chart-mobile-futures" class="" style=""></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w3-col s4">
            <div class="w3-panel _w3-light-grey">
                <div class="w3-col s12 {3} w3-center w3-border" style="_height:260px;">
                    <div class="w3-xxlarge w3-wide" style="padding-top:25px;">
                        <div class="w3-text-grey w3-xlarge _w3-margin-top"><b>QQQ</b></div>
                        <div id="chart-mobile-account" class="" style=""></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w3-col s2">
            <div class="w3-panel _w3-light-grey">
                <div class="w3-col s12 {3} w3-center w3-border" style="_height:260px;">
                    <div class="w3-xxlarge w3-wide" style="padding-top:25px;">
                        <div class="w3-text-grey w3-xlarge _w3-margin-top"><b>OIL</b></div>
                        <div id="chart-mobile-oil" class="" style=""></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w3-col s2">
            <div class="w3-panel _w3-light-grey">
                <div class="w3-col s12 {3} w3-center w3-border" style="_height:260px;">
                    <div class="w3-xxlarge w3-wide" style="padding-top:25px;">
                        <div class="w3-text-grey w3-xlarge _w3-margin-top"><b>VIX</b></div>
                        <div id="chart-mobile-vix" class="" style=""></div>
                    </div>
                </div>
            </div>
        </div>

        <!--@ CHARTS -->
        <div class="w3-container">
            <div class="w3-col s12 m9 w3-padding w3-margin-top w3-xlarge">
                <div class="w3-left w3-wide"><b>Account</b></div>
                <div id="CHART_24H_HISTORY"></div>
            </div>
            <div class="w3-col s12 m3 w3-padding w3-margin-top w3-xlarge">
                <div class="w3-left w3-wide"><b>Postitions</b></div>
                <div id="chart-positions-today" style="opacity:87%;"></div>
            </div>
        </div>

        <!-- <div _id="" class="w3-col s12 m5 w3-center w3-padding" style="height:200px;border:1px solid lightgray;">
        <div class="w3-center w3-xlarge w3-wide">NDAQ Futures</div>
        <div id="mobile-nq=f" class="" style=""></div>
    </div> -->
        <!-- <div _id="" class="w3-col s12 m2 w3-center w3-padding" style="height:200px;border:1px solid lightgray;">
            <div class="w3-center w3-xlarge w3-wide">OIL</div>
            <div id="mobile-qqq" class="" style=""></div>
        </div>
        <div _id="" class="w3-col s12 m2 w3-center w3-padding" style="height:200px;border:1px solid lightgray;">
            <div class="w3-center w3-xlarge w3-wide">VIX</div>
            <div id="mobile-qqq" class="" style=""></div>
        </div>
        <div _id="" class="w3-col s12 m3 w3-center w3-padding" style="height:200px;border:1px solid lightgray;">
            <div class="w3-center w3-xlarge w3-wide">Account</div>
            <div id="mobile-qqq" class="" style=""></div>
        </div> -->
        <!-- <div _id="" class="w3-col s12 w3-row-padding w3-center">&nbsp;</div> -->
    </div>
</div>